body {
  // background-image: url(https://thumbs.gfycat.com/PiercingHeartyIcefish-size_restricted.gif/);
}
.app {
  width: 800px;
  min-height: 100vh;
  margin: 1em auto;
  text-align: center;
  background-color: #ddd;
}
